<form [formGroup]="loginForm" (submit)="singIn()">
  <fieldset>
    <legend>Sing-In</legend>
    <div>
      <input
        #autoFocus
        formControlName="userName"
        type="email"
        placeholder="userName"
        autocomplete="name"
        spellcheck="false"
      />
      <small *ngIf="loginForm.get('userName').errors?.required">
        *is Required
      </small>
    </div>
    <div>
      <input
        formControlName="password"
        type="password"
        placeholder="password"
      />
      <small *ngIf="loginForm.get('password').errors?.required">
        *is Required
      </small>
    </div>
    <button [disabled]="loginForm.invalid" type="submit">Entrar</button>
  </fieldset>
</form>
